@font-face {
  font-family: "Birch Std";
  src: url(../font/Birch-Std_7090.ttf);
}
body {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.container-background {
  background-image: url(../img/Content_bg.png);
}
.logo-and-search {
  background-color: #202020;
}
.container {
  max-width: 1000px;
  min-width: 320px;
  margin: 0 auto;
}
.container:nth-child(3) {
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
.logo-link {
  text-decoration: none;
  display: inline-block;
  margin: 0.9% 0 0.7% 0;
}
.logo-link:hover {
  transform: scale(0.95);
}
.logo-link__main {
  font-family: "Birch Std", sans-serif;
  color: #fff;
  font-size: 36px;
}
.logo-link__main span {
  color: #b0b0b0;
}
.logo-link__slogan {
  color: #686868;
  margin-top: -4px;
}
.search-form {
  float: right;
  margin-top: 16px;
}
.search-form__input-text {
  width: 351px;
  height: 27px;
  background-color: #323232;
  border: 1px solid #4c4c4c;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  padding: 0 5px;
}
.search-form__input-text:focus {
  outline: none;
  border-color: #D3D3D3;
}
.search-form__input-submit {
  width: 75px;
  height: 27px;
  background-color: #000;
  border: 1px solid #4c4c4c;
  box-sizing: border-box;
  margin-left: 9px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.search-form__input-submit:hover {
  border-color: #D3D3D3;
}
.search-form__input-submit:active,
.search-form__input-submit:focus {
  outline: none;
}
.search-form__input-submit:active {
  position: relative;
  top: 2px;
}
.header {
  background-color: #000;
}
.view {
  background: url(../img/Header_img.png) no-repeat;
  background-size: cover;
  padding-top: 27.2%;
}
.view:hover .view__greeting {
  opacity: 1;
  transition: 0.5s ease-out;
}
.view__greeting {
  width: 100%;
  background-image: url(../img/Header_greeting.png);
  display: inline-block;
  padding: 1.4% 0 1.5% 2.1%;
  box-sizing: border-box;
  color: #dedede;
  line-height: 14px;
  opacity: 0;
}
.menu {
  width: 100%;
  background-color: #000;
  font-size: 14px;
  font-weight: 700;
  position: sticky;
  position: -webkit-sticky;
  /*position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;*/
  top: 0;
  z-index: 2;
}
.menu__item {
  display: inline-block;
  padding: 8px 0;
  text-align: center;
  width: 8.5%;
  border-right: 1px solid #393939;
  position: relative;
}
.menu__item:hover {
  /*outline: 3px double white;
    outline-offset: -5px;
    outline: 2px solid #808080\9;*/
  /* for IE */
  text-decoration: underline;
  color: white;
  /* for IE */
}
.menu__item:hover .sub-menu__list {
  display: block;
}
.menu__item-link {
  text-decoration: none;
  color: #fff;
}
.sub-menu__list {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #000;
}
.sub-menu__list .sub-menu__item {
  display: block;
  padding: 8px 0;
}
.sub-menu__list .sub-menu__item:hover {
  text-decoration: underline;
  color: white;
  /* for IE */
}
.sub-menu__list .sub-menu__item-link {
  text-decoration: none;
  color: #fff;
}
.content {
  display: inline-block;
  padding: 13px 0 0 13px;
}
.about__title {
  color: #838383;
  font-size: 30px;
  font-weight: 700;
}
.about__title span {
  color: #000;
}
.about__text {
  font-size: 13px;
  margin-top: 2px;
  line-height: 20px;
}
.about__text .italic-text {
  font-style: italic;
}
.about__text .strong-text {
  font-weight: 700;
}
.about__text .citation {
  color: #8b8b8b;
  font-size: 13px;
  font-style: italic;
  margin: 4px 0 0 22px;
}
.pictures {
  margin-top: 24px;
}
.pictures__title {
  color: #838383;
  font-size: 30px;
  font-weight: 700;
  font-size: 20px;
}
.pictures__title span {
  color: #000;
}
.pictures-box {
  text-align: center;
}
.pictures__item {
  margin: 1% 1%;
  border: 11px solid #e2e2e2;
}
.pictures__item:hover {
  box-shadow: 0 0 10px #808080;
  transform: translateY(2px);
  transition: 0.3s ease-out;
}
.description {
  margin-top: 14px;
}
.description__title {
  color: #838383;
  font-size: 30px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 11px;
}
.description__title span {
  color: #000;
}
.description-box {
  text-align: center;
}
.description__first-list {
  display: inline-block;
  margin-right: 5.5%;
  list-style-type: disc;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  list-style-position: inside;
  white-space: nowrap;
}
.description__second-list {
  display: inline-block;
  margin-right: 5.5%;
  list-style-type: disc;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  list-style-position: inside;
  white-space: nowrap;
  list-style-type: decimal;
}
.description__third-list {
  display: inline-block;
  margin-right: 5.5%;
  list-style-type: disc;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  list-style-position: inside;
  white-space: nowrap;
  list-style-type: none;
  font-weight: 700;
}
.description__third-list span {
  font-weight: 400;
}
.table {
  margin: 40px 5px 0 0;
}
.table__title {
  color: #838383;
  font-size: 30px;
  font-weight: 700;
  font-size: 20px;
}
.table__title span {
  color: #000;
}
.table__item {
  margin-top: 15px;
}
.table__item tr {
  height: 30px;
  border: 1px solid #D5D5D5;
}
.table__item td {
  border: 1px solid #D5D5D5;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 13px;
}
.table__item td:nth-child(1) {
  width: 132px;
}
.table__item td:nth-child(2) {
  width: 260px;
}
.table__item td:nth-child(3) {
  width: 315px;
}
.table__item td:nth-child(4) {
  width: 214px;
}
.table__item .thead {
  background: #EFEFEF;
  font-size: 13px;
  font-weight: 700;
}
.forms {
  margin-top: 24px;
}
.forms__title {
  color: #838383;
  font-size: 30px;
  font-weight: 700;
  font-size: 20px;
}
.forms__title span {
  color: #000;
}
.form div {
  margin-top: 17px;
  color: #010101;
}
.form div:nth-child(3) input {
  margin: 0;
  vertical-align: -2px;
}
.form div:nth-child(4) {
  margin-top: 10px;
}
.form div:nth-child(4) input {
  margin: 0;
  vertical-align: -2px;
}
.form__text input {
  width: 224px;
  height: 30px;
  border: 1px solid #b7b7b7;
  box-sizing: border-box;
  color: #c0c0c0;
  font-size: 12px;
  padding: 0 9px;
  margin-top: 4px;
  /* for Firefox */
}
.form__text input:focus {
  outline: 1px solid #323232;
}
.form__options select {
  width: 224px;
  height: 30px;
  border: 1px solid #b7b7b7;
  box-sizing: border-box;
  padding-left: 4px;
  margin-top: 4px;
  /* for Firefox */
}
.form__options select:focus {
  outline: 1px solid #323232;
}
.form__textArea textarea {
  margin-top: 5px;
  width: 304px;
  height: 124px;
  border: 1px solid #b7b7b7;
  box-sizing: border-box;
  resize: none;
  /* for Firefox */
}
.form__textArea textarea:focus {
  outline: 1px solid #323232;
}
.form__btn input {
  width: 75px;
  height: 27px;
  background-color: #000;
  border: 1px solid #4c4c4c;
  box-sizing: border-box;
  margin-left: 9px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 24px 0;
  width: 91px;
  height: 35px;
}
.form__btn input:hover {
  border-color: #D3D3D3;
}
.form__btn input:active,
.form__btn input:focus {
  outline: none;
}
.form__btn input:active {
  position: relative;
  top: 2px;
}
.form__btn input:hover {
  background-color: #686868;
  border-color: #000;
}
.footer {
  padding: 11px 0 10px 0;
}
.footer .footer__box {
  color: #656565;
  font-size: 13px;
}
/*  Style for mobile  */
@media screen and (max-width: 767px) {
  body {
    font-size: 8px;
  }
  body .container {
    min-width: 320px;
  }
  body .logo-link {
    margin-top: 8px;
  }
  body .logo-link__main {
    font-size: 24px;
  }
  body .search-form {
    margin-top: 11px;
  }
  body .search-form__input-text {
    width: 117px;
    height: 18px;
    font-size: 10px;
    padding: 0 3px 0;
  }
  body .search-form__input-submit {
    width: 50px;
    height: 18px;
    margin-left: 8px;
    font-size: 10px;
  }
  body .view {
    background-size: cover;
  }
  body .view__greeting {
    line-height: normal;
    opacity: 1;
  }
  body .menu {
    font-size: 10px;
  }
  body .menu__item {
    padding: 6px 0;
    width: 18.9%;
  }
  body .content {
    padding: 12px 0 0 10px;
  }
  body .about__title {
    font-size: 20px;
  }
  body .about__text {
    font-size: 9px;
    margin-top: 3px;
  }
  body .about__text .citation {
    font-size: 9px;
    margin: 8px 0 0 15px;
  }
  body .pictures {
    margin-top: 20px;
  }
  body .pictures__title {
    font-size: 14px;
  }
  body .description {
    margin-top: 11px;
  }
  body .description__title {
    font-size: 14px;
    margin-bottom: 11px;
  }
  body .description ul,
  body .description ol {
    margin-bottom: 5px;
    font-size: 9px;
    line-height: normal;
  }
  body .table {
    margin-top: 30px;
  }
  body .table__title {
    font-size: 14px;
  }
  body .table__item {
    margin-top: 12px;
  }
  body .table__item td {
    font-size: 10px;
  }
  body .table__item .thead {
    font-size: 10px;
  }
  body .forms {
    margin-top: 16px;
  }
  body .forms__title {
    font-size: 14px;
  }
  body .form div {
    margin-top: 14px;
  }
  body .form__text input {
    font-size: 9px;
  }
  body .form__options select {
    font-size: 9px;
  }
  body .form__btn input {
    margin-bottom: 16px;
    width: 60px;
    height: 24px;
    font-size: 10px;
  }
  body .footer .footer__box {
    font-size: 10px;
  }
}
